<div class="panel panel-default">
  <div class="panel-heading text-center">New Question</div>
    <div class="panel-body">
    <%= bootstrap_form_for [current_user, @question] do |f| %>
      <%=f.text_field :title %>
      <%=f.text_area :body %>
    <%=f.submit "Submit Question" %>
  <%end%>
</div>
</div>
