<div class="panel panel-default">
  <div class="panel-heading text-center">Log In</div>
    <div class="panel-body">
    <%= bootstrap_form_tag url: log_in_path do |f| %>
        <%= f.email_field :email %>
        <%= f.password_field :password %>
        <%= f.submit "Log in", :class => 'btn btn-success' %>
    <% end %>
  </div>
</div>
