<h1>All Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.email %>
      <% if user.admin? %>
        <span> Admin </span>
      <% else %>
        <%= link_to "Make Admin", edit_user_path(user), :data => {:method => "patch"} %>
      <% end %>
    </li>
  <% end %>
</ul>
