<h1>Welcome to "Stack Overflow"</h1>

<% if current_user %>
  <%= link_to 'Add a New Question', new_user_question_path(current_user) %> 
<% end %>

<ul>
  <% @questions.each do |question| %>
    <li><%= question.title %></li>
  <% end %>
</ul>
