<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading text-center">Stack Underflow</div>
  <div class="panel-body text-center">
      <% if current_user %>
        <%= link_to 'Add a New Question', new_user_question_path(current_user) %>
      <% else %>
        Please <%= link_to 'log in', log_in_path %> to post a question.
      <% end %>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <% @questions.each do |question| %>
      <li class="list-group-item"><%= link_to question.title, user_question_path(question.user, question), :id => question.id %></li>
    <% end %>
  </ul>
</div>
